local/
.atom/
.vscode/
index.html
docs/
.buildlog
.packages
.project
.pub
**/build
**/packages
*.dart.js
*.part.js
*.js.deps
*.js.map
*.info.json
doc/api/
pubspec.lock
*.iml
.idea
*~
*#
.#*
.dart_tool/
/README.html
/log.txt
/nyxx.wiki/
/test/private.dart
/publish_docs.sh
/test/mirrors.dart
/private
private-*.dart
test-*.dart
[Rr]pc*
**/doc/api/**
**/coverage/**
coverage.json
lcov.info
