name: nyxx
version: 5.1.2
description: A Discord library for Dart. Simple, robust framework for creating discord bots for Dart language.
homepage: https://github.com/nyxx-discord/nyxx
repository: https://github.com/nyxx-discord/nyxx
documentation: https://nyxx.l7ssha.xyz
issue_tracker: https://github.com/nyxx-discord/nyxx/issues

environment:
  sdk: ">=2.17.0 <4.0.0"

dependencies:
  http: ^0.13.3
  logging: ^1.0.1
  path: ^1.8.3
  retry: ^3.1.0
  eterl: ^1.0.1

dev_dependencies:
  test: ^1.22.0
  mockito: ^5.0.16
  build_runner: ^2.3.0
  lints: ^2.0.0
