name: nyxx
version: 5.0.1
description: A Discord library for Dart. Simple, robust framework for creating discord bots for Dart language.
homepage: https://github.com/nyxx-discord/nyxx
repository: https://github.com/nyxx-discord/nyxx
documentation: https://nyxx.l7ssha.xyz
issue_tracker: https://github.com/nyxx-discord/nyxx/issues

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  http: ^0.13.3
  logging: ^1.0.1
  path: ^1.8.3
  retry: ^3.1.0
  eterl: ^1.0.1
  runtime_type: ^1.0.1
  meta: ^1.9.1

dev_dependencies:
  test: ^1.22.0
  lints: ^2.0.0
  nock: ^1.2.1
  mocktail: ^0.3.0
  test_api: ^0.5.2
