name: nyxx_lavalink
version: 2.0.0-rc.3
description: Nyxx Lavalink Module
homepage: https://github.com/nyxx-discord/nyxx
repository: https://github.com/nyxx-discord/nyxx
documentation: https://nyxx.l7ssha.xyz
issue_tracker: https://github.com/nyxx-discord/nyxx/issues

environment:
  sdk: '>=2.13.0 <3.0.0'

dependencies:
   http: "^0.13.3"
   logging: "^1.0.1"
   nyxx: "^2.0.0-rc.7"

dev_dependencies:
  test: "^1.17.0"
