name: nyxx_commander
version: 2.0.0-rc.7
description: Nyxx Commander Module. Discord library for Dart. Simple, robust framework for creating discord bots for Dart language.
homepage: https://github.com/l7ssha/nyxx
repository: https://github.com/l7ssha/nyxx
documentation: https://github.com/l7ssha/nyxx/wiki
issue_tracker: https://github.com/l7ssha/nyxx/issues

environment:
  sdk: '>=2.12.0 <3.0.0'

dependencies:
  http: "^0.13.1"
  logging: "^1.0.1"
  nyxx: "2.0.0-rc.4"
